@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&display=swap');

$container-max-width: 700px;
$accent: #FF0F00;
$image-size: 85px;

$max-width: 700px;
$med-width: 600px;
$small-width: 480px;

html {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  font-family: "JetBrains Mono", monospace;
  width: 100%;
}

.container {
  margin: auto;

  header {
    max-width: $max-width;
    margin: auto;
    padding: 25px 0 25px 0;

    .developer-name {
      font-size: 30px;
      color: #272727;
      display: inline-block;
      text-decoration: none;
    }

    .developer-name a {
      float: left;
    }

    ul {
      float: right;
      margin: 0;
      padding: 5px 0 5px 0;
      margin-left: 20px;
    }

    li {
      list-style-type: none;
      margin: 0 5px 0 10px;
      float: left;
    }

    li a {
      text-decoration: none;
      color: $accent;
    }

    li a:hover {
      text-decoration: underline;
    }
  }

  main {
    max-width: $max-width;
    margin: auto;

    a {
      text-decoration: none;
      color: $accent;
    }

    a:hover {
      text-decoration: underline;
    }

    ul>li {
      margin: 5px 0 5px 0;
    }

    ul {
      padding: 0 20px 0 20px;
    }
  }

  .social, footer {
    display: inline-block;
    text-align: center;
    width: 100%;
    font-size: 0.9em;
    padding: 10px 0;
    
    .icons {
      ul {
        padding: 0;
        list-style: none;

        li {
          display: inline;
        }

        li a {
          color: black;
          text-decoration: none;
        }
      }
    }

    span a {
      text-decoration: none;
      color: $accent;
    }

    span a:hover {
      text-decoration: underline;
    }
  }
}

@media (max-width: 800px) {
  .container {
    max-width: 80%;
  }
}

@media (max-width: 500px) {
  .container > header {
    ul {
      padding: 50px 0 0 0;
      text-align: center;
    }

    .developer-name, #navbar-list {
      width: 100%;
      float: none;
      text-align: center;
    }

    #navbar-list {
      padding: 10px 0;
      margin: 0;
      display: block;
    }

    #navbar-list li {
      display: inline-block;
      float: none;
      margin: 0;
    }
  }
}